<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="text-light">@context.User.Identity.Name</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link text-light">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login" class="text-light">Log in</a>
    </NotAuthorized>
</AuthorizeView>
