@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <div class="col-12">
            <a asp-controller="Test" asp-action="Index" class="btn btn-lg btn-success text-white mb-3" style="min-height:12rem;min-width:12rem;">Test</a>
            <a asp-controller="Repos" asp-action="Index" class="btn btn-lg btn-success text-white mb-3" style="min-height:12rem;min-width:12rem;">Repositories</a>
            <a asp-controller="Search" asp-action="Index" class="btn btn-lg btn-success text-white mb-3" style="min-height:12rem;min-width:12rem;">Search</a>
        </div>
    </div>